 <!DOCTYPE html>
<html>
<head>
  <title>BellyUi</title>
  <%= stylesheet_link_tag    "application", "hotel", "nivo-slider", "hotel-responsive", 
  "socialcount-with-icons", "bootstrap.min", "default", :media => "all" %>
  <%= javascript_include_tag "application", "main" %>
  <%= csrf_meta_tags %>
	
	<style>
		div.ui-datepicker{
			font-size:11px;
		}
	</style>
		
    <!--[if lt IE 9]>
		<link rel="stylesheet" href="css/bootstrap_ie7.css" type="text/css">
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
</head>

<body>
	
		<div class="container-fluid">
			<div class="row"><!-- start header -->
				<div class="span5 logo">
					<a href="index.html">
					<div class="row">
						<div class="span3 logo">
							<h1>BellyScratchers<span>resort</span></h1>
							<p>&#9733;&#9733;&#9733;&#9733;&#9734;</p>
						</div>
					</div>
					</a>
				</div>		
				<div class="span6 pull-right main_menu">
					<div class="navbar">
						<div class="container">
							 <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</a>

							<div class="nav-collapse">
								<ul class="nav nav-pills">
									<li class="active"><a href="index.html">Home</a></li>
									<li class=""><a href="rooms.html">Hammocks</a></li>
									<li class=""><a href="gallery.html">Gallery</a></li>
									<li class=""><a href="map.html">Map</a></li>
									<li class=""><a href="book-start.html">Book</a></li>
								</ul>
							</div><!-- /.nav-collapse -->
						</div>
					</div><!-- /navbar -->
				</div>
			</div><!-- end header --><div class="row-fluid slideshow-row">
	
	<div class="span12 slideshow">
		<div class="slider-wrapper theme-default">
			<div class="ribbon"></div>
			<div id="nivoslider-125" class="nivoSlider">
				
				<img src="assets/slide-10.png" alt="" />
				<img src="assets/slide-11.png" alt="" />
				<img src="assets/slide-3.png" alt="" />				
				
			</div>
		</div>
		<div id="nivoslider-125-caption-0" class="nivo-html-caption">You can add captions too&#8230;</div>
	</div>
	
</div>
<div class="row-fluid home">
	<div class="span12">
		<h2>start <span>Booking your hammock</span><br > select your dates and options below</h2>
	</div>
</div>
<form class="form-inline">
	<div class="row-fluid home">
		<div class="span3">
						<div class="room_selector" data-price="34" data-adults="1" data-kids="1">
				<h5><a href="#" class="pull-left"><i class="icon-chevron-left"></i></a>Single room<a href="#" class="pull-right "><i class="icon-chevron-right"></i></a></h5>
				<a href="listings.html"><img src="assets/rooms/single_room.jpg" alt="" /></a>
				<p>All single rooms have one single bed and sleeps one adult. A 25-inch TV is included.</p>
			</div>
			<div class="room_selector" data-price="48"  data-adults="2" data-kids="1" style="display: none;">
				<h5><a href="#" class="pull-left "><i class="icon-chevron-left"></i></a>Double Room<a href="#" class="pull-right "><i class="icon-chevron-right"></i></a></h5>
				<a href="listings.html"><img src="assets/rooms/double_room.jpg" alt="" /></a>
				<p>All double rooms have a single double bed and sleeps two adults.</p>
			</div>		
			<div class="room_selector" data-price="62" data-adults="3" data-kids="2" style="display: none;">
				<h5><a href="#" class="pull-left "><i class="icon-chevron-left"></i></a>Triple Room<a href="#" class="pull-right "><i class="icon-chevron-right"></i></a></h5>
				<a href="listings.html"><img src="assets/rooms/triple_room.jpg" alt="" /></a>
				<p>All triple rooms have one double bed and a single bed and sleeps up to three people. </p>
			</div>	
			<div class="room_selector" data-price="72" data-adults="4" data-kids="3" style="display: none;">
				<h5><a href="#" class="pull-left "><i class="icon-chevron-left"></i></a>Luxury Room<a href="#" class="pull-right "><i class="icon-chevron-right"></i></a></h5>
				<a href="listings.html"><img src="assets/rooms/luxury_room.jpg" alt="" /></a>
				<p>All rooms have two double beds and a balcony. Sleeps up to four adults.</p>
			</div>		
			<div class="room_selector" data-price="97" data-adults="4" data-kids="3" style="display: none;">
				<h5><a href="#" class="pull-left "><i class="icon-chevron-left"></i></a>Private pool room<a href="#" class="pull-right "><i class="icon-chevron-right"></i></a></h5>
				<a href="listings.html"><img src="assets/rooms/private_pool.jpg" alt="" /></a>
				<p>A private pool, two double beds and a sea view. Sleeps up to four adults.</p>
			</div>
			<div class="room_selector" data-price="128" data-adults="5" data-kids="4" style="display: none;">
				<h5><a href="#" class="pull-left "><i class="icon-chevron-left"></i></a>Private villa<a href="#" class="pull-right "><i class="icon-chevron-right"></i></a></h5>
				<a href="listings.html"><img src="assets/rooms/private_villa.jpg" alt="" /></a>
				<p>All villas have an en-suite bathroom and sundeck. Sleeps up to five adults.</p>
			</div>
		</div>		
		<div class="span3 home_calendar">
						<div class="form-horizontal">			
				<div class="control-group">
					<label class="control-label pull-left" for="inputEmail">Arrive</label>
					<div class="controls">
						<input type="text" value="" class="span2 check-in-date" value="2012/11/22"/>
					</div>
				</div>
			</div>
			<div class="datepicker_from"></div>
		</div>
		<div class="span3 home_calendar">
						<div class="form-horizontal">			
				<div class="control-group">
					<label class="control-label pull-left" for="inputEmail">Depart</label>
					<div class="controls">
						<input type="text" value="" class="span2 check-out-date" value="2012/11/22"/>
					</div>
				</div>
			</div>
			<div class="datepicker_to"></div>
		</div>

		<div class="span3">
			<div class="form-horizontal">
				
				<div class="control-group">
					<label class="control-label" for="inputEmail">Hammocks</label>
					<div class="controls">
						<select class="span1 select_rooms">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
				</div>			
				
				
				<div class="control-group">
					<label class="control-label" for="inputEmail">Pick-up?</label>
					<div class="controls">
						<select class="span1 select_adults">
							<option>no</option>
							<option>yes</option>
							
						</select>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="inputEmail">Drop-off?</label>
					<div class="controls">
						<select class="span1 select_kids">
							<option>no</option>
							<option>yes</option>
						</select>
					</div>
				</div>
				

				</div>
		<div id="total_price" class="price">30.00 AUD</div>
		<a class="btn btn-primary btn-large book-now" href="book.html">Book now!</a>
	</div>		
</div>	
</form>
<hr />
<div class="row-fluid">
	
	<div class="span3">
		<h3><span>H</span>ammocks</h3>
		<a href="rooms.html"><img src="assets/rooms.jpg" alt="" /></a>
		<p>Bring your own Hammock</p>
	</div>		
	<div class="span3">
		<h3><span>S</span>ervices</h3>
		<a href="facilities.html"><img src="assets/services.png" alt="" /></a>
		<p>We offer a pick-up and drop-off service</p>
	</div>		
	<div class="span3">
		<h3><span>P</span>romotions</h3>
		<a href="promotions.html"><img src="assets/promotions.png" alt="" /></a>
		<p>Stay five nights and get one night totally <b>FREE</b>!</p>
	</div>		
	<div class="span3">
		<h3><span>L</span>ocation</h3>
		<a href="map.html"><img src="assets/location.jpg" alt="" /></a>
		<p>We're easily accessible - 30mins North of the Brisbane CBD.</p>
	</div>		
</div>		


<div class="row">
	<div class="span12 what_people_say">
		<div id="quotes">
			<blockquote class="textItem" style="display: none;">
				<p>This is the best resort I've ever been to.</p>
				<small>Eric <cite title="Source Title">German Shepherd</cite></small>
			</blockquote>			
			
			<blockquote class="textItem" style="display: none;">
				<p>The food is incredible.</p>
				<small>Harley <cite title="Source Title">Australian Cattle Dog</cite></small>
			</blockquote>			
			
			<blockquote class="textItem" style="display: none;">
				<p>Beyond All Expectations</p>
				<small>Ernie <cite title="Source Title">German Shepherd</cite></small>
			</blockquote>

			<blockquote class="textItem" style="display: none;">
				<p>Didn't like the birds</p>
				<small>I prefer to  <cite title="Source Title">remain anonymous</cite></small>
			</blockquote>

		</div>
	</div>	
</div></div> <!-- /container -->

<footer>
	<div class="container">
		<div class="row footer_section_pre">
			<div class="span4">
				<h4>BellyScratchers Resort<span class="line"></span></h4>

				<p>443 Mt Glorious Road, Samford Valley, QLD 4520</p>
				<p>Tel: +xxx-xxx-xxx<br />Fax: +860-631-7796  <br />Email: chris@bellyscratchers.com.au  </p>

				<ul data-facebook-action="recommend" data-url="#" class="socialcount socialcount-small recommend grade-a">
					<li class="facebook"><a title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u=#"><span class="social-icon icon-facebook"></span><span class="count"></span></a></li>
					<li class="twitter"><a title="Share on Twitter" href="https://twitter.com/intent/tweet?text=#"><span class="social-icon icon-twitter"></span><span class="count"></span></a></li>
					<li class="googleplus"><a title="Share on Google Plus" href="https://plus.appsarea.com/share?url=#"><span class="social-icon icon-googleplus"></span><span class="count"></span></a></li>
				</ul>
				<br />
				<p class="copy">All content &copy; 2013 <a href="http://appsarea.com/">BellyScratchers</a></p>

			</div>
			<div class="span4">

			</div>
			<div class="span4">

			</div>
		</div>
	</div>
	
	
</footer>
</body>
</html>